
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" style="user-select: auto;">
    <p class="col-md-4 mb-0 text-muted" style="user-select: auto;">© 2021 Company, Inc</p>
    <ul class="nav col-md-4 justify-content-end" style="user-select: auto;">
      <li class="nav-item" style="user-select: auto;"><a href="#" class="nav-link px-2 text-muted" style="user-select: auto;">Home</a></li>
      <li class="nav-item" style="user-select: auto;"><a href="#" class="nav-link px-2 text-muted" style="user-select: auto;">Features</a></li>
      <li class="nav-item" style="user-select: auto;"><a href="#" class="nav-link px-2 text-muted" style="user-select: auto;">Pricing</a></li>
      <li class="nav-item" style="user-select: auto;"><a href="#" class="nav-link px-2 text-muted" style="user-select: auto;">FAQs</a></li>
      <li class="nav-item" style="user-select: auto;"><a href="#" class="nav-link px-2 text-muted" style="user-select: auto;">About</a></li>
    </ul>
  </footer>