<!-- SAM 	Daily (In Acres)	MTD ( In Acres) -->

<mat-toolbar>
    <span>Enter Below Fields to fill Excell for DGR Block Wise Module Cleaning JHANSI</span>
  </mat-toolbar>
  <br /> 
  
  <main >
    <form   class="active" [formGroup]="fg_block_wise_module_cleaning" action="">
      <div class="container addDgrContainer">
        
        <section>
          <h6>Block 1</h6>
            <p> 
                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label> SAM Wet</mat-label>
                  <input
                    formControlName="block1_sam_wet"
                    matInput
                    type="number"
                    placeholder="0"
                  />
                </mat-form-field>
              </p>
           <p> 
                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label> SAM Dry</mat-label>
                  <input
                    formControlName="block1_sam_dry"
                    matInput
                    type="number"
                    placeholder="0"
                  />
                </mat-form-field>
              </p>
           <p> 
                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label> Manual</mat-label>
                  <input
                    formControlName="block1_manual"
                    matInput
                    type="number"
                    placeholder="0"
                  />
                </mat-form-field>
              </p>
              </section>
              <section>
                <h6>Block 2</h6>
           <p> 
                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label> SAM Wet</mat-label>
                  <input
                    formControlName="block2_sam_wet"
                    matInput
                    type="number"
                    placeholder="0"
                  />
                </mat-form-field>
              </p>
           <p> 
                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label> SAM Dry</mat-label>
                  <input
                    formControlName="block2_sam_dry"
                    matInput
                    type="number"
                    placeholder="0"
                  />
                </mat-form-field>
              </p>
           <p> 
                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label> Manual</mat-label>
                  <input
                    formControlName="block2_manual"
                    matInput
                    type="number"
                    placeholder="0"
                  />
                </mat-form-field>
              </p>
            </section>
            <section>
              <h6>Block 3</h6>
           <p> 
                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label> SAM Wet</mat-label>
                  <input
                    formControlName="block3_sam_wet"
                    matInput
                    type="number"
                    placeholder="0"
                  />
                </mat-form-field>
              </p>
           <p> 
                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label> SAM Dry</mat-label>
                  <input
                    formControlName="block3_sam_dry"
                    matInput
                    type="number"
                    placeholder="0"
                  />
                </mat-form-field>
              </p>
              <p> 
                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label> Manual</mat-label>
                  <input
                    formControlName="block3_manual"
                    matInput
                    type="number"
                    placeholder="0"
                  />
                </mat-form-field>
              </p>
            </section>
            <section>
              <h6>Block 4</h6>
           <p> 
                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label> SAM Wet</mat-label>
                  <input
                    formControlName="block4_sam_wet"
                    matInput
                    type="number"
                    placeholder="0"
                  />
                </mat-form-field>
              </p>
           <p> 
                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label> SAM Dry</mat-label>
                  <input
                    formControlName="block4_sam_dry"
                    matInput
                    type="number"
                    placeholder="0"
                  />
                </mat-form-field>
              </p>
           <p> 
                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label> Manual</mat-label>
                  <input
                    formControlName="block4_manual"
                    matInput
                    type="number"
                    placeholder="0"
                  />
                </mat-form-field>
              </p>
            </section>
            <section>
              <h6>Block 5</h6>
           <p> 
                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label> SAM Wet</mat-label>
                  <input
                    formControlName="block5_sam_wet"
                    matInput
                    type="number"
                    placeholder="0"
                  />
                </mat-form-field>
              </p>
              <p> 
                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label> SAM Dry</mat-label>
                  <input
                    formControlName="block5_sam_dry"
                    matInput
                    type="number"
                    placeholder="0"
                  />
                </mat-form-field>
              </p>
           <p> 
                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label> Manual</mat-label>
                  <input
                    formControlName="block5_manual"
                    matInput
                    type="number"
                    placeholder="0"
                  />
                </mat-form-field>
              </p>
            </section>
            <section>
              <h6>Block 6</h6>
           <p> 
                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label> SAM Wet</mat-label>
                  <input
                    formControlName="block6_sam_wet"
                    matInput
                    type="number"
                    placeholder="0"
                  />
                </mat-form-field>
              </p>
           <p> 
                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label> SAM Dry</mat-label>
                  <input
                    formControlName="block6_sam_dry"
                    matInput
                    type="number"
                    placeholder="0"
                  />
                </mat-form-field>
              </p>
           <p> 
                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label> Manual</mat-label>
                  <input
                    formControlName="block6_manual"
                    matInput
                    type="number"
                    placeholder="0"
                  />
                </mat-form-field>
              </p>
            </section>
            <section>
              <h6>Block 7</h6>
           <p> 
                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label> SAM Wet</mat-label>
                  <input
                    formControlName="block7_sam_wet"
                    matInput
                    type="number"
                    placeholder="0"
                  />
                </mat-form-field>
              </p>
           <p> 
                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label> SAM Dry</mat-label>
                  <input
                    formControlName="block7_sam_dry"
                    matInput
                    type="number"
                    placeholder="0"
                  />
                </mat-form-field>
              </p>
           <p> 
                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label> Manual</mat-label>
                  <input
                    formControlName="block7_manual"
                    matInput
                    type="number"
                    placeholder="0"
                  />
                </mat-form-field>
              </p>
            </section>
            <section>
              <h6>Block 8</h6>
           <p> 
                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label> SAM Wet</mat-label>
                  <input
                    formControlName="block8_sam_wet"
                    matInput
                    type="number"
                    placeholder="0"
                  />
                </mat-form-field>
              </p>
           <p> 
                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label> SAM Dry</mat-label>
                  <input
                    formControlName="block8_sam_dry"
                    matInput
                    type="number"
                    placeholder="0"
                  />
                </mat-form-field>
              </p>
           <p> 
                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label> Manual</mat-label>
                  <input
                    formControlName="block8_manual"
                    matInput
                    type="number"
                    placeholder="0"
                  />
                </mat-form-field>
              </p>
            </section>
            <section>
              <h6>Block 9</h6>
           <p> 
                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label> SAM Wet</mat-label>
                  <input
                    formControlName="block9_sam_wet"
                    matInput
                    type="number"
                    placeholder="0"
                  />
                </mat-form-field>
              </p>
           <p> 
                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label> SAM Dry</mat-label>
                  <input
                    formControlName="block9_sam_dry"
                    matInput
                    type="number"
                    placeholder="0"
                  />
                </mat-form-field>
              </p>
           <p> 
                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label> Manual</mat-label>
                  <input
                    formControlName="block9_manual"
                    matInput
                    type="number"
                    placeholder="0"
                  />
                </mat-form-field>
              </p>
            </section>
            <section>
              <h6>Block 10</h6>
              <p>
                <mat-form-field appearance="fill" floatLabel="always">
                    <mat-label> SAM Wet</mat-label>
                    <input
                      formControlName="block10_sam_wet"
                    matInput
                    type="number"
                    placeholder="0"
                  />
                </mat-form-field>
              </p>
            
           <p> 
                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label> SAM Dry</mat-label>
                  <input
                    formControlName="block10_sam_dry"
                    matInput
                    type="number"
                    placeholder="0"
                  />
                </mat-form-field>
              </p>
           <p> 
                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label> Manual </mat-label>
                  <input
                    formControlName="block10_manual"
                    matInput
                    type="number"
                    placeholder="0"
                  />
                </mat-form-field>
              </p>
        </section>
  
          
        </div>
        <button (click)="submitDgrData()" [disabled]="fg_block_wise_module_cleaning.invalid" mat-stroked-button color="primary">Submit</button>
    </form>

  </main>