

  <form action="" [formGroup]="formGroup" (ngSubmit)="submitStudent()">
  <p>Enter Below Fields to fill the Student Database at BigQuery( <a target="_blank" href="https://console.cloud.google.com/bigquery?referrer=search&project=new-poc-microsite&ws=!1m5!1m4!4m3!1snew-poc-microsite!2sStudentDS!3sStudentTBL">click here Link</a> )</p>
  
  <mat-form-field appearance="fill">
    <mat-label>Id</mat-label>
    <input type="number" matInput formControlName="id">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Age</mat-label>
    <input type="number" matInput formControlName="age">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Weight</mat-label>
      <input type="number" matInput formControlName="weight">
      <span matSuffix>Kg &nbsp;</span>
    
  </mat-form-field>
  <button [disabled]="!this.formGroup.valid" mat-stroked-button color="primary" >Submit</button>
  </form>
  
  
  <table *ngIf="dataSource" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <!-- Name Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let element;"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Age </th>
      <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>
  
    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <!-- <div class="loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div> -->

  <div *ngFor="let item of Students">
    <p>{{item.name}}</p>
  </div>
  
  
<app-piechart></app-piechart>