
  <div class="dgr_buttons">
  <button mat-raised-button (click)="addStudent()">Add Data</button>
  <button mat-raised-button (click)=" goToCharts()">Display charts</button>
</div>
  <main>
  <mat-form-field class="dgr_select" appearance="fill">
    <mat-label>Choose A sheet to see it's data</mat-label>
    <mat-select (selectionChange)="onChange($event)">
      <mat-option value="site_input">
      Site Input
      </mat-option>
      <mat-option value="availability">
        Availability
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <div>
    <app-site-input-display *ngIf="si_flag"></app-site-input-display>
    <app-availability-display *ngIf="av_flag"></app-availability-display>
  </div>
</main>




  