<main>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <!--  -->
        <ng-container matColumnDef="block1_sam_wet">
            <!--  -->
            
              <!--  -->
              <th mat-header-cell *matHeaderCellDef>Block1 Sam Wet</th>
              <td mat-cell *matCellDef="let element">
                {{ element.block1_sam_wet }}
              </td>
            </ng-container>
        <ng-container matColumnDef="block1_sam_dry">
            <!--  -->
            
              <!--  -->
              <th mat-header-cell *matHeaderCellDef>Block1 Sam Dry</th>
              <td mat-cell *matCellDef="let element">
                {{ element.block1_sam_dry }}
              </td>
            </ng-container>
        <ng-container matColumnDef="block1_manual">
            <!--  -->
            
              <!--  -->
              <th mat-header-cell *matHeaderCellDef>Block1 Manual</th>
              <td mat-cell *matCellDef="let element">
                {{ element.block1_manual }}
              </td>
            </ng-container>
        <ng-container matColumnDef="block2_sam_wet">
            <!--  -->
            
              <!--  -->
              <th mat-header-cell *matHeaderCellDef>Block2 Sam Wet</th>
              <td mat-cell *matCellDef="let element">
                {{ element.block2_sam_wet }}
              </td>
            </ng-container>
        <ng-container matColumnDef="block2_sam_dry">
            <!--  -->
            
              <!--  -->
              <th mat-header-cell *matHeaderCellDef>Block2 Sam Dry</th>
              <td mat-cell *matCellDef="let element">
                {{ element.block2_sam_dry }}
              </td>
            </ng-container>
        <ng-container matColumnDef="block2_manual">
            <!--  -->
            
              <!--  -->
              <th mat-header-cell *matHeaderCellDef>Block2 Manual</th>
              <td mat-cell *matCellDef="let element">
                {{ element.block2_manual }}
              </td>
            </ng-container>
        <ng-container matColumnDef="block3_sam_wet">
            <!--  -->
            
              <!--  -->
              <th mat-header-cell *matHeaderCellDef>Block3 Sam Wet</th>
              <td mat-cell *matCellDef="let element">
                {{ element.block3_sam_wet }}
              </td>
            </ng-container>
        <ng-container matColumnDef="block3_sam_dry">
            <!--  -->
            
              <!--  -->
              <th mat-header-cell *matHeaderCellDef>Block3 Sam Dry</th>
              <td mat-cell *matCellDef="let element">
                {{ element.block3_sam_dry }}
              </td>
            </ng-container>
        <ng-container matColumnDef="block3_manual">
            <!--  -->
            
              <!--  -->
              <th mat-header-cell *matHeaderCellDef>Block3 Manual</th>
              <td mat-cell *matCellDef="let element">
                {{ element.block3_manual }}
              </td>
            </ng-container>
        <ng-container matColumnDef="block4_sam_wet">
            <!--  -->
            
              <!--  -->
              <th mat-header-cell *matHeaderCellDef>Block4 Sam Wet</th>
              <td mat-cell *matCellDef="let element">
                {{ element.block4_sam_wet }}
              </td>
            </ng-container>
        <ng-container matColumnDef="block4_sam_dry">
            <!--  -->
            
              <!--  -->
              <th mat-header-cell *matHeaderCellDef>Block4 Sam Dry</th>
              <td mat-cell *matCellDef="let element">
                {{ element.block4_sam_dry }}
              </td>
            </ng-container>
        <ng-container matColumnDef="block4_manual">
            <!--  -->
            
              <!--  -->
              <th mat-header-cell *matHeaderCellDef>Block4 Manual</th>
              <td mat-cell *matCellDef="let element">
                {{ element.block4_manual }}
              </td>
            </ng-container>
        <ng-container matColumnDef="block5_sam_wet">
            <!--  -->
            
              <!--  -->
              <th mat-header-cell *matHeaderCellDef>Block5 Sam Wet</th>
              <td mat-cell *matCellDef="let element">
                {{ element.block5_sam_wet }}
              </td>
            </ng-container>
        <ng-container matColumnDef="block5_sam_dry">
            <!--  -->
            
              <!--  -->
              <th mat-header-cell *matHeaderCellDef>Block5 Sam Dry</th>
              <td mat-cell *matCellDef="let element">
                {{ element.block5_sam_dry }}
              </td>
            </ng-container>
        <ng-container matColumnDef="block5_manual">
            <!--  -->
            
              <!--  -->
              <th mat-header-cell *matHeaderCellDef>Block5 Manual</th>
              <td mat-cell *matCellDef="let element">
                {{ element.block5_manual }}
              </td>
            </ng-container>
        <ng-container matColumnDef="block6_sam_wet">
            <!--  -->
            
              <!--  -->
              <th mat-header-cell *matHeaderCellDef>Block6 Sam Wet</th>
              <td mat-cell *matCellDef="let element">
                {{ element.block6_sam_wet }}
              </td>
            </ng-container>
        <ng-container matColumnDef="block6_sam_dry">
            <!--  -->
            
              <!--  -->
              <th mat-header-cell *matHeaderCellDef>Block6 Sam Dry</th>
              <td mat-cell *matCellDef="let element">
                {{ element.block6_sam_dry }}
              </td>
            </ng-container>
        <ng-container matColumnDef="block6_manual">
            <!--  -->
            
              <!--  -->
              <th mat-header-cell *matHeaderCellDef>Block6 Manual</th>
              <td mat-cell *matCellDef="let element">
                {{ element.block6_manual }}
              </td>
            </ng-container>
        <ng-container matColumnDef="block7_sam_wet">
            <!--  -->
            
              <!--  -->
              <th mat-header-cell *matHeaderCellDef>Block7 Sam Wet</th>
              <td mat-cell *matCellDef="let element">
                {{ element.block7_sam_wet }}
              </td>
            </ng-container>
        <ng-container matColumnDef="block7_sam_dry">
            <!--  -->
            
              <!--  -->
              <th mat-header-cell *matHeaderCellDef>Block7 Sam Dry</th>
              <td mat-cell *matCellDef="let element">
                {{ element.block7_sam_dry }}
              </td>
            </ng-container>
        <ng-container matColumnDef="block7_manual">
            <!--  -->
            
              <!--  -->
              <th mat-header-cell *matHeaderCellDef>Block7 Manual</th>
              <td mat-cell *matCellDef="let element">
                {{ element.block7_manual }}
              </td>
            </ng-container>
        <ng-container matColumnDef="block8_sam_wet">
            <!--  -->
            
              <!--  -->
              <th mat-header-cell *matHeaderCellDef>Block8 Sam Wet</th>
              <td mat-cell *matCellDef="let element">
                {{ element.block8_sam_wet }}
              </td>
            </ng-container>
        <ng-container matColumnDef="block8_sam_dry">
            <!--  -->
            
              <!--  -->
              <th mat-header-cell *matHeaderCellDef>Block8 Sam Dry</th>
              <td mat-cell *matCellDef="let element">
                {{ element.block8_sam_dry }}
              </td>
            </ng-container>
        <ng-container matColumnDef="block8_manual">
            <!--  -->
            
              <!--  -->
              <th mat-header-cell *matHeaderCellDef>Block8 Manual</th>
              <td mat-cell *matCellDef="let element">
                {{ element.block8_manual }}
              </td>
            </ng-container>
        <ng-container matColumnDef="block9_sam_wet">
            <!--  -->
            
              <!--  -->
              <th mat-header-cell *matHeaderCellDef>Block9 Sam Wet</th>
              <td mat-cell *matCellDef="let element">
                {{ element.block9_sam_wet }}
              </td>
            </ng-container>
        <ng-container matColumnDef="block9_sam_dry">
            <!--  -->
            
              <!--  -->
              <th mat-header-cell *matHeaderCellDef>Block9 Sam Dry</th>
              <td mat-cell *matCellDef="let element">
                {{ element.block9_sam_dry }}
              </td>
            </ng-container>
        <ng-container matColumnDef="block9_manual">
            <!--  -->
            
              <!--  -->
              <th mat-header-cell *matHeaderCellDef>Block9 Manual</th>
              <td mat-cell *matCellDef="let element">
                {{ element.block9_manual }}
              </td>
            </ng-container>
        <ng-container matColumnDef="block10_sam_wet">
            <!--  -->
            
              <!--  -->
              <th mat-header-cell *matHeaderCellDef>Block10 Sam Wet</th>
              <td mat-cell *matCellDef="let element">
                {{ element.block10_sam_wet }}
              </td>
            </ng-container>
        <ng-container matColumnDef="block10_sam_dry">
            <!--  -->
            
              <!--  -->
              <th mat-header-cell *matHeaderCellDef>Block10 Sam Dry</th>
              <td mat-cell *matCellDef="let element">
                {{ element.block10_sam_dry }}
              </td>
            </ng-container>
        <ng-container matColumnDef="block10_manual">
            <!--  -->
            
              <!--  -->
              <th mat-header-cell *matHeaderCellDef>Block10 Manual</th>
              <td mat-cell *matCellDef="let element">
                {{ element.block10_manual }}
              </td>
            </ng-container>
       

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </main>
  