<mat-toolbar>
  <span>Enter Below Fields to fill Excell for DGR Availability JHANSI</span>
</mat-toolbar>
<br />

<main >
  <!-- day / night -->

  <mat-form-field class="day_night" appearance="fill">
    <mat-label>Day/Night</mat-label>
    <mat-select (selectionChange)="onChange($event)">
      <mat-option value="day">
      Day
      </mat-option>
      <mat-option value="night">
        Night
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <form *ngIf="dayToggle"  class="active" [formGroup]="fg_availability_day" action="">
    <mat-label>Day</mat-label>
    <div class="container addDgrContainer">
      <!-- date -->
      <section>
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label> Date</mat-label>
            <input
              formControlName="date_day"
              matInput
              type="date_day"
              placeholder="0"
            />
          </mat-form-field>
        </p>
      </section>

      <section>
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>
              "Total Operational minutes (when irradiation>100 W/m2)"
            </mat-label>
            <input
              formControlName="total_operational_minutes_irradiation_greater_than_100_day"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>
      </section>
      <!-- RMU				
        "RMU 
Number"	Breakdown Minutes	"Breakdown Minutes
(Considering irradiation>100 W/m2)"	No Of  Effected Inverter -->
      <section>
        <mat-label>RMU</mat-label>
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label> RMU Number</mat-label>
            <input
              formControlName="rmu_number_day"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label> Breakdown Minutes</mat-label>
            <input
              formControlName="rmu_breakdown_minutes_day"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>
              "Breakdown Minutes (Considering irradiation > 100
              W/m2)"</mat-label
            >
            <input
              formControlName="rmu_breakdown_minutes_irradiation_greater_than_100_day"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label> No Of Effected Inverter</mat-label>
            <input
              formControlName="rmu_no_of_effected_inverter_day"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>
      </section>

      <!-- DT				
DT Number	Breakdown Minutes	"Breakdown Minutes
(Considering irradiation>100 W/m2)"	No Of  Effected Inverter	% Avaibility -->
      <section>
        <mat-label>DT</mat-label>
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label> DT Number</mat-label>
            <input
              formControlName="dt_number_day"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label> Breakdown Minutes</mat-label>
            <input
              formControlName="dt_breakdown_minutes_day"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>
              "Breakdown Minutes (Considering irradiation > 100
              W/m2)"</mat-label
            >
            <input
              formControlName="dt_breakdown_minutes_irradiation_greater_than_100_day"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label> No Of Effected Inverter</mat-label>
            <input
              formControlName="dt_no_of_effected_inverter_day"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>
      </section>
      <section>
        <mat-label>INV</mat-label>
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label> INV Number</mat-label>
            <input
              formControlName="inv_number_day"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label> Breakdown Minutes</mat-label>
            <input
              formControlName="inv_breakdown_minutes_day"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>
              "Breakdown Minutes (Considering irradiation > 100
              W/m2)"</mat-label
            >
            <input
              formControlName="inv_breakdown_minutes_irradiation_greater_than_100_day"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>
      </section>
      <!-- 
            SCB				
            Breakdown Minutes	"Breakdown Minutes
            (Considering irradiation>100 W/m2)"	No Of Strings	Duration of Connected to Faulty INV/DT/RMU	% Avaibility -->
      <section>
        <mat-label>SCB</mat-label>
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label> Breakdown Minutes</mat-label>
            <input
              formControlName="scb_breakdown_minutes_day"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>
              "Breakdown Minutes (Considering irradiation>100 W/m2)"</mat-label
            >
            <input
              formControlName="scb_breakdown_minutes_irradiation_greater_than_100_day"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>No Of Strings</mat-label>
            <input
              formControlName="scb_no_of_strings_day"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Duration of Connected to Faulty INV/DT/RMU</mat-label>
            <input
              formControlName="scb_duration_of_connected_to_faulty_inv_dt_rmu_day"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>
      </section>

      <!-- Switchgear			
                Breakdown Minutes	"Breakdown Minutes
                (Considering irradiation>100 W/m2)"	No Of  Effected Inverter	Availability -->
      <section>
        <mat-label>Switchgear</mat-label>
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label> Breakdown Minutes</mat-label>
            <input
              formControlName="switchgear_breakdown_minutes_day"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>
              "Breakdown Minutes (Considering irradiation>100 W/m2)"</mat-label
            >
            <input
              formControlName="switchgear_breakdown_minutes_irradiation_greater_than_100_day"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>No Of Effected Inverter</mat-label>
            <input
              formControlName="switchgear_no_of_ffected_inverter_day"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>
      </section>

      <!-- Switchyard		
"230 KV Bay-1
Breakdown duration 
Minutes"	"Breakdown Minutes
(Considering irradiation>100 W/m2)"	No Of  Effected Inverter
 -->

      <section>
        <mat-label>Switchyard</mat-label>
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>"230 KV Bay-1 Breakdown duration Minutes"</mat-label>
            <input
              formControlName="switchyard_breakdown_duration_minutes_day"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>
              "Breakdown Minutes (Considering irradiation>100 W/m2)"</mat-label
            >
            <input
              formControlName="switchyard_breakdown_minutes_irradiation_greater_than_100_day"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>No Of Effected Inverter</mat-label>
            <input
              formControlName="switchyard_no_of_ffected_inverter_day"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>
      </section>

      <section>
        <mat-label>Curtailment Slot-01</mat-label>
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Set Point</mat-label>
            <input
              formControlName="curtailment_slot_01_set_point_day"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Time</mat-label>
            <input
              formControlName="curtailment_slot_01_time_day"
              matInput
              type="time"
              step="1"
            />
          </mat-form-field>
        </p>
      </section>

      <section>
        <mat-label>Curtailment Slot-01</mat-label>
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Set Point</mat-label>
            <input
              formControlName="curtailment_slot_02_set_point_day"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Time</mat-label>
            <input
              formControlName="curtailment_slot_02_time_day"
              matInput
              type="time"
              step="1"
            />
          </mat-form-field>
        </p>
      </section>
      <section>
        <mat-label>Curtailment Slot-03</mat-label>
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Set Point</mat-label>
            <input
              formControlName="curtailment_slot_03_set_point_day"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Time</mat-label>
            <input
              formControlName="curtailment_slot_03_time_day"
              matInput
              type="time"
              step="1"
            />
          </mat-form-field>
        </p>
      </section>

      <!-- 132 KV Transmission Line			
    Breakdown Minutes	"Breakdown Minutes
    (Considering irradiation>100 W/m2)"	No Of Effected Inverters	% Avaibility -->

      <section>
        <mat-label>132 KV Transmission Line</mat-label>

        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label> Breakdown Minutes</mat-label>
            <input
              formControlName="transmission_line_breakdown_minutes_day"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>
              "Breakdown Minutes (Considering irradiation > 100
              W/m2)"</mat-label
            >
            <input
              formControlName="transmission_line_breakdown_minutes_irradiation_greater_than_100_day"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label> No Of Effected Inverter</mat-label>
            <input
              formControlName="transmission_line_no_of_effected_inverter_day"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>
      </section>
      <button
        (click)="submitAvailabilityData_day()"
        [disabled]="fg_availability_day.invalid"
        mat-stroked-button
        color="primary"
      >
        Submit
      </button>
    </div>
  </form>

  
  <form *ngIf="nightToggle" action="" class="active" [formGroup]="fg_availability_night">
    <mat-label>Night</mat-label>
    <div class="container addDgrContainer">
      <!-- date -->
      <section>
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label> Date</mat-label>
            <input
              formControlName="date_night"
              matInput
              type="date"
              placeholder="0"
            />
          </mat-form-field>
        </p>
      </section>


      <section>
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>
              "Total Operational minutes (when irradiation>100 W/m2)"
            </mat-label>
            <input
              formControlName="total_operational_minutes_irradiation_greater_than_100_night"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>
      </section>
      <!-- RMU				
        "RMU 
Number"	Breakdown Minutes	"Breakdown Minutes
(Considering irradiation>100 W/m2)"	No Of  Effected Inverter -->
      <section>
        <mat-label>RMU</mat-label>
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label> RMU Number</mat-label>
            <input
              formControlName="rmu_number_night"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label> Breakdown Minutes</mat-label>
            <input
              formControlName="rmu_breakdown_minutes_night"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>
      
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label> No Of Effected Inverter</mat-label>
            <input
              formControlName="rmu_no_of_effected_inverter_night"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>
      </section>

      <!-- DT				
DT Number	Breakdown Minutes	"Breakdown Minutes
(Considering irradiation>100 W/m2)"	No Of  Effected Inverter	% Avaibility -->
      <section>
        <mat-label>DT</mat-label>
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label> DT Number</mat-label>
            <input
              formControlName="dt_number_night"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label> Breakdown Minutes</mat-label>
            <input
              formControlName="dt_breakdown_minutes_night"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>
       
      </section>
      <section>
        <mat-label>INV</mat-label>
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label> INV Number</mat-label>
            <input
              formControlName="inv_number_night"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label> Breakdown Minutes</mat-label>
            <input
              formControlName="inv_breakdown_minutes_night"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>
    
      </section>
      <!-- 
            SCB				
            Breakdown Minutes	"Breakdown Minutes
            (Considering irradiation>100 W/m2)"	No Of Strings	Duration of Connected to Faulty INV/DT/RMU	% Avaibility -->
      <section>
        <mat-label>SCB</mat-label>
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label> Breakdown Minutes</mat-label>
            <input
              formControlName="scb_breakdown_minutes_night"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>
     
        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Duration of Connected to Faulty INV/DT/RMU</mat-label>
            <input
              formControlName="scb_duration_of_connected_to_faulty_inv_dt_rmu_night"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>
      </section>

<!-- 100% -->
<section>
  <mat-label>100%</mat-label>
  <p>
    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label> 230 KV Bay-1</mat-label>
      <input
        formControlName="hundred_percent_bay_1_night"
        matInput
        type="number"
        placeholder="0"
      />
    </mat-form-field>
  </p>

</section>


      <!-- 132 KV Transmission Line			
    Breakdown Minutes	"Breakdown Minutes
    (Considering irradiation>100 W/m2)"	No Of Effected Inverters	% Avaibility -->

        
      <section>
        <mat-label>132 KV Transmission Line</mat-label>

        <p>
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label> Breakdown Minutes</mat-label>
            <input
              formControlName="transmission_line_breakdown_minutes_night"
              matInput
              type="number"
              placeholder="0"
            />
          </mat-form-field>
        </p>
     
      </section>
      <button
        (click)="submitAvailabilityData_night()"
        [disabled]="fg_availability_night.invalid"
        mat-stroked-button
        color="primary"
      >
        Submit
      </button>
      </div>
    
  </form>

</main>
