
span{
    font-size: 80%;
}
.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
 
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
  
  mat-form-field{
    width:auto;
    margin: 1rem;
}
section{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    background-color: rgb(245, 243, 243);
    
    text-align: center;
    padding: 2rem;
    
}

form{
    text-align: center;
}